<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebProdavnica</display-name>
  <welcome-file-list>
    <welcome-file>shop/index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DataLoader</display-name>
    <servlet-name>DataLoader</servlet-name>
    <servlet-class>dummyData.DataLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataLoader</servlet-name>
    <url-pattern>/DataLoader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajSalonServlet</display-name>
    <servlet-name>DodajSalonServlet</servlet-name>
    <servlet-class>admin_site.saloni.DodajSalonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajSalonServlet</servlet-name>
    <url-pattern>/dodajSalon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniSalonServlet</display-name>
    <servlet-name>IzmeniSalonServlet</servlet-name>
    <servlet-class>admin_site.saloni.IzmeniSalonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniSalonServlet</servlet-name>
    <url-pattern>/izmeniSalon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiSalonServlet</display-name>
    <servlet-name>ObrisiSalonServlet</servlet-name>
    <servlet-class>admin_site.saloni.ObrisiSalonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiSalonServlet</servlet-name>
    <url-pattern>/obrisiSalon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetKateogrijaServlet</display-name>
    <servlet-name>GetKateogrijaServlet</servlet-name>
    <servlet-class>admin_site.kategorije.GetKateogrijaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetKateogrijaServlet</servlet-name>
    <url-pattern>/getKategorija</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKategorijuServlet</display-name>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <servlet-class>admin_site.kategorije.DodajKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKategorijuServlet</servlet-name>
    <url-pattern>/dodajKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKategorijuServlet</display-name>
    <servlet-name>ObrisiKategorijuServlet</servlet-name>
    <servlet-class>admin_site.kategorije.ObrisiKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKategorijuServlet</servlet-name>
    <url-pattern>/obrisiKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniKategorijuServlet</display-name>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <servlet-class>admin_site.kategorije.IzmeniKategorijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniKategorijuServlet</servlet-name>
    <url-pattern>/izmeniKategoriju</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajKomadNamestajaServlet</display-name>
    <servlet-name>DodajKomadNamestajaServlet</servlet-name>
    <servlet-class>admin_site.komadinamestaja.DodajKomadNamestajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajKomadNamestajaServlet</servlet-name>
    <url-pattern>/dodajKomadNamestaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUploadServlet</display-name>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>admin_site.komadinamestaja.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniKomadNamestajaServlet</display-name>
    <servlet-name>IzmeniKomadNamestajaServlet</servlet-name>
    <servlet-class>admin_site.komadinamestaja.IzmeniKomadNamestajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniKomadNamestajaServlet</servlet-name>
    <url-pattern>/izmeniKomadNamestaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiKomadNamestaja</display-name>
    <servlet-name>ObrisiKomadNamestaja</servlet-name>
    <servlet-class>admin_site.komadinamestaja.ObrisiKomadNamestaja</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiKomadNamestaja</servlet-name>
    <url-pattern>/obrisiKomadNamestaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajDodatnuUslugu</display-name>
    <servlet-name>DodajDodatnuUslugu</servlet-name>
    <servlet-class>admin_site.dodatneusluge.DodajDodatnuUslugu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajDodatnuUslugu</servlet-name>
    <url-pattern>/dodajDodatnuUslugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmeniDodatneUslugeServlet</display-name>
    <servlet-name>IzmeniDodatneUslugeServlet</servlet-name>
    <servlet-class>admin_site.dodatneusluge.IzmeniDodatneUslugeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmeniDodatneUslugeServlet</servlet-name>
    <url-pattern>/izmeniDodatneUsluge</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObrisiDodatnuUsluguServlet</display-name>
    <servlet-name>ObrisiDodatnuUsluguServlet</servlet-name>
    <servlet-class>admin_site.dodatneusluge.ObrisiDodatnuUsluguServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObrisiDodatnuUsluguServlet</servlet-name>
    <url-pattern>/obrisiDodatnuUslugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KorisnikLoginServlet</display-name>
    <servlet-name>KorisnikLoginServlet</servlet-name>
    <servlet-class>shop_site.KorisnikLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KorisnikLoginServlet</servlet-name>
    <url-pattern>/korisnik-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuServlet</display-name>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <servlet-class>shop_site.DodajUKorpuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuServlet</servlet-name>
    <url-pattern>/dodajUKorpu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuKomadNamestajaServlet</display-name>
    <servlet-name>DodajUKorpuKomadNamestajaServlet</servlet-name>
    <servlet-class>shop_site.DodajUKorpuKomadNamestajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuKomadNamestajaServlet</servlet-name>
    <url-pattern>/dodajUKorpuKomadNamestaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajUKorpuDodatnuUsluguServlet</display-name>
    <servlet-name>DodajUKorpuDodatnuUsluguServlet</servlet-name>
    <servlet-class>shop_site.DodajUKorpuDodatnuUsluguServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajUKorpuDodatnuUsluguServlet</servlet-name>
    <url-pattern>/dodajUKorpuDodatnuUslugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UkloniIzKorpeKomadNamestajaServlet</display-name>
    <servlet-name>UkloniIzKorpeKomadNamestajaServlet</servlet-name>
    <servlet-class>shop_site.UkloniIzKorpeKomadNamestajaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UkloniIzKorpeKomadNamestajaServlet</servlet-name>
    <url-pattern>/ukloniIzKorpeKomadNamestaja</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UkloniIzKorpeDodatnuUsluguServlet</display-name>
    <servlet-name>UkloniIzKorpeDodatnuUsluguServlet</servlet-name>
    <servlet-class>shop_site.UkloniIzKorpeDodatnuUsluguServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UkloniIzKorpeDodatnuUsluguServlet</servlet-name>
    <url-pattern>/ukloniIzKorpeDodatnuUslugu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KupiServlet</display-name>
    <servlet-name>KupiServlet</servlet-name>
    <servlet-class>shop_site.KupiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KupiServlet</servlet-name>
    <url-pattern>/kupi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OdjaviSeServlet</display-name>
    <servlet-name>OdjaviSeServlet</servlet-name>
    <servlet-class>shop_site.OdjaviSeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OdjaviSeServlet</servlet-name>
    <url-pattern>/odjavi_se</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>admin_site.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/admin-logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenadzerLogoutServlet</display-name>
    <servlet-name>MenadzerLogoutServlet</servlet-name>
    <servlet-class>menadzer_site.MenadzerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenadzerLogoutServlet</servlet-name>
    <url-pattern>/menadzer-logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenadzerLoginServlet</display-name>
    <servlet-name>MenadzerLoginServlet</servlet-name>
    <servlet-class>menadzer_site.MenadzerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenadzerLoginServlet</servlet-name>
    <url-pattern>/menadzer-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodajAkcijuServlet</display-name>
    <servlet-name>DodajAkcijuServlet</servlet-name>
    <servlet-class>admin_site.akcije.DodajAkcijuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodajAkcijuServlet</servlet-name>
    <url-pattern>/dodajAkciju</url-pattern>
  </servlet-mapping>
</web-app>